/* containers */

.container.a {
    width: 25vw;
    min-width: 200px;
    max-width: 300px;
}

.container.b {
    flex-direction: row;
    flex-wrap: wrap;
    height: 89vh;
    min-width: 450px;
    padding: 1rem 0;
    margin: 0 3%;
    overflow-y: auto;
    background-color: rgba(176, 197, 172, 0.5);
    box-shadow: 2px 2px 10px 5px rgb(0, 0, 0, 0.25);
}

.project-list {
    display: flex;
    flex-direction: column-reverse;
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.project-list li {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* projects title */

.sticky.title {
    font-family: Silkscreen, monospace;
    font-size: clamp(1.75rem, 2.25vw, 2rem);
    font-weight: normal;
    width: 90%;
    max-width: 200px;
    height: 30vh;
    min-height: 160px;
    max-height: 200px;
    margin-bottom: 4rem;
    color: rgb(6, 61, 96);
    background-color: rgb(185, 215, 234);
}

.sticky:before {
    border-color: rgb(185, 215, 234);
  }

.sticky:after {
    border-color: rgb(132, 183, 214) transparent;
  }

/* project windows */

.bar {
    overflow: hidden;
    height: unset;
}

.fa-circle.fa-2xs {
    align-self: flex-start;
    margin-top: 3%;
}

.proj.window {
    width: 90%;
    margin-bottom: 2rem;
    overflow: unset;
}

.proj.window-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mini-container.a {
    flex-direction: column;
    align-items: flex-start;
}

.mini-container.a .answer-button {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0.23rem 0.5rem;
}

.mini-container.a .answer-button p {
    font-size: clamp(0.5rem, 1vw, 0.75rem);
    margin-right: 0.3rem;
}

.mini-container.a .answer-button p:active {
    font-size: 10px;
}

.proj img {
    height: 25vw;
    object-fit: cover;
    border: 1px solid rgb(161, 135, 180);
}

.proj .window-content p {
    font-size: clamp(0.75rem, 1.25vw, 1rem);
}

.hashtags {
    display: flex;
    flex-wrap: wrap;
    list-style-type: "#";
    color: rgb(99, 77, 117);
    padding: 1rem 1rem 1rem 1.5rem;
    margin: 0;
    background-color: rgb(223, 202, 239);
    border-top: 0.25px solid rgb(161, 135, 180);
}

.hashtags li {
    display: list-item;
    align-items: unset;
    font-size: 0.75rem;
    padding-right: 5%;
    margin-bottom: 0.2rem;
}

@media only screen and (max-width: 980px), only screen and (max-device-width: 1200px) {

    main {
        margin: 10%;
    }
    
    /* containers */

    .container.a, .container.b {
        margin: 0 3% 2rem;
    }

    .container.a {
        width: 100%;
        height: unset;
    }
    
    /* projects title */

    .sticky.title {
        font-size: clamp(1.5rem, 3.5vw, 2.20rem);
        width: 60vw;
        max-width: 500px;
        min-height: unset;
        max-height: 165px;
        margin: 2rem 0; 
    }

    /* project windows */

    .mini-container.a .answer-button p {
        font-size: clamp(0.5rem, 1.25vw, 0.75rem);
    }

    .proj img {
        height: 35vw;
        min-height: 250px;
    }

    .proj .window-content p {
        font-size: clamp(0.75rem, 2vw, 1rem);
    }
}

@media only screen and (max-width: 715px), only screen and (max-device-width: 500px), only screen and (max-device-height: 500px) and (orientation: landscape) {
    
    main {
        margin: 0 3%;
    }

    .container.a, .container.b {
        width: 70vw;
        min-width: 400px;
        max-width: 1000px;
    }

    .container.a {
        margin-top: 4rem;
    }

    .sticky.title {
        font-size: clamp(1.5rem, 5vw, 2.20rem);
        width: 70vw;
        max-width: 470px;
        margin: 0 2rem 2rem;
    }

    .mini-container.a {
        align-items: center;
    }

    .mini-container.a .answer-button p {
        font-size: clamp(0.5rem, 1.5vw, 0.75rem);
    }

    .proj.window-content {
        flex-direction: column;
        justify-content: center;
    }

    .proj img {
        height: 100%;
        width: 100%;
    }

    .proj .window-content p {
        font-size: clamp(0.75rem, 2.5vw, 1rem);
        text-align: justify;
    }
}

@media only screen and (max-device-width: 500px), only screen and (max-device-height: 500px) and (orientation: landscape) {

    .container.a, .container.b {
        min-width: 300px;
    }

    .bar h2 {
        font-size: 1rem;
    }
}